<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Banzhow</title>

    <!-- font-awesome -->
    <link href="/banzhow/css/font-awesome.min.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="/banzhow/css/bootstrap.css" rel="stylesheet">

    <!-- custom CSS -->
    <link href="/banzhow/css/style.css" rel="stylesheet">

    <!-- JavaScript -->
    <script type="text/javascript" src="@Url.Content("~/banzhow/js/jquery-1.10.2.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/banzhow/js/bootstrap.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/banzhow/js/plugins.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/banzhow/js/banzhow.js")"></script>
</head>

<body>

    @RenderBody()


    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <a class="footer-brand" href="index.html">Banzhow</a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar quam sed consequat adipiscing. Sed est quam, pretium a vestibulum vel, aliquam vitae eros.</p>
                    <ul class="list-inline list-unstyled social-networks">
                        <li>
                            <a href="#">
                                <div class="icon-social icon-social-facebook normal">
                                    <i class="fa fa-facebook"></i>
                                </div>
                                <div class="icon-social hover">
                                    <i class="fa fa-facebook"></i>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="icon-social icon-social-twitter normal">
                                    <i class="fa fa-twitter"></i>
                                </div>
                                <div class="icon-social hover">
                                    <i class="fa fa-twitter"></i>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="icon-social icon-social-google-plus normal">
                                    <i class="fa fa-google-plus"></i>
                                </div>
                                <div class="icon-social hover">
                                    <i class="fa fa-google-plus"></i>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="icon-social icon-social-youtube normal">
                                    <i class="fa fa-youtube-play"></i>
                                </div>
                                <div class="icon-social hover">
                                    <i class="fa fa-youtube-play"></i>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="icon-social icon-social-linkedin normal">
                                    <i class="fa fa-linkedin"></i>
                                </div>
                                <div class="icon-social hover">
                                    <i class="fa fa-linkedin"></i>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="icon-social icon-social-pinterest normal">
                                    <i class="fa fa-pinterest"></i>
                                </div>
                                <div class="icon-social hover">
                                    <i class="fa fa-pinterest"></i>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3">
                    <h3>CONTACT</h3>
                    <address>
                        <i class="fa fa-map-marker"></i> 123 My Street, Banzhow City, CA 4567<br>
                        <i class="fa fa-phone"></i> (123) 456-7890<br>
                        <i class="fa fa-envelope"></i> info@banzhow.com
                    </address>
                </div>

                <div class="col-lg-3 col-md-3">
                    <h3>LATEST TWEETS</h3>
                    <ul class="latest-tweets">
                        <li>
                            <i class="fa fa-twitter"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar quam sed consequat adipiscing
                        </li>
                        <li>
                            <i class="fa fa-twitter"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar quam sed consequat adipiscing
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3">
                    <h3>NEWSLETTER</h3>
                    <p>Type your email address below and subscribe to our newsletter</p>
                    <div class="input-group">
                        <input type="text" placeholder="Email" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">Go!</button>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </footer>
    <div class="footer-after">
        <div class="container">
            <div class="row">
                <p class="col-md-10">©2014 All rights reserved. Designed by John Doe.</p>
                <p class="col-md-2 legal"><a href="#" rel="nofollow">Legal Notice</a></p>
            </div><!-- /.row -->
        </div>
    </div>

    <!-- Switcher -->
    <script type="text/javascript" src="@Url.Content("~/banzhow/js/switcher/switcher.js")"></script>
    <link href="@Url.Content("~/banzhow/js/switcher/switcher.css")" rel="stylesheet">

    <div id="switcher-options">
        <a href="#" class="switcher-btn"><i class="fa fa-cog"></i></a>
        <small>Switch Theme Colour</small>
        <ul class="list-unstyled list-inline">
            <li><a href="#" class="theme-colour default" data-name="default"></a></li>
            <li><a href="#" class="theme-colour blue" data-name="blue"></a></li>
            <li><a href="#" class="theme-colour violet" data-name="violet"></a></li>
            <li><a href="#" class="theme-colour red" data-name="red"></a></li>
            <li><a href="#" class="theme-colour orange" data-name="orange"></a></li>
        </ul>
    </div>

</body>
</html>
