@using Project.Models;
@model ProductCategoryModel
@{
    ViewBag.Title = "Index";
}

<h2>Samsung Mobile Phones</h2>

<hr />
<div class="col-md-12">
    <div class="alert alert-success" role="alert">
        <strong>@Model.NumberOfProduct</strong> number of products listed.
    </div>
</div>

@foreach (var pro in Model.Products)
{
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            @*<img src="http://via.placeholder.com/350x150" alt="...">*@
            <a href="https://placeholder.com"><img src="https://via.placeholder.com/100x250"></a>
            <div class="caption">
                <h3>@pro.ProductName</h3>
                <p>
                    @if (pro.ProductExplan.Length > 50) {
                        @(pro.ProductExplan.Substring(0, 47) + "...")
                    }
                    else {
                        @pro.ProductExplan
                    }
                </p>
                <p>

                    @Html.ActionLink("Review Product" , "Details" , new { id = pro.ProductId } , new { @class = "btn btn-primary" })
                </p>
            </div>
        </div>
    </div>
}