@model CategoryListViewModel

@* Yönetici Kategori Düzenleme sayfasıdır. *@

@* Kategori oluşturmayı ve kategorileri düzenleme/silme işlemi yapan sayfa *@


@section Css
{

<link rel="stylesheet" href="/css/dataTables.bootstrap4.min.css">

}

@section Scripts
{

<script type="text/javascript" src="@Url.Content("~/js/jquery.dataTables.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/dataTables.bootstrap4.min.js")"></script>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>

}


<div class="row">
    <div class="col-md-12">
        <h1 class="h3">Yönetici Kategori Düzenleme</h1>
        <hr>
        <a class="btn btn-primary btn-sm" href="CategoryCreate">Kategori Oluştur</a>
        <hr>

        @* table-bordered -> dataTables.bootstrap4.min.css *@
        <table data-page-length='3' id="myTable" class="table table-bordered mt-3">
            <thead>
                <tr>
                    <td style="width: 30px;">No</td>
                    <td>İsim</td>
                    <td style="width: 150px;"></td>
                </tr>
            </thead>
            <tbody>
                @if (Model.Categories.Count > 0)
                {
                    @foreach (var item in Model.Categories)
                    {
                        <tr>
                            <td>@item.CategoryId</td>
                            <td>@item.Name</td>
                            <td>
                                <a href="/admin/categories/@item.CategoryId" class="btn btn-primary btn-sm mr-2">Düzenle</a>

                                <form action="/admin/deletecategory" method="POST" style="display: inline;">
                                    <input type="hidden" name="categoryId" value="@item.CategoryId">
                                    <button type="submit" class="btn btn-danger btn-sm">Sil</button>
                                </form>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <div class="alert alert-warning">
                        <h3>Kategori bulunmamaktadır.</h3>
                    </div>
                }

            </tbody>
        </table>
    </div>
</div>